ALTER TABLE commande CHANGE total total NUMERIC(12, 2) DEFAULT 0 NOT NULL, CHANGE commentaire commentaire VARCHAR(500) DEFAULT NULL;
ALTER TABLE commentaire CHANGE date_modification date_modification DATETIME DEFAULT NULL;
ALTER TABLE commentaire RENAME INDEX idx_67f068bc6bb81c92 TO IDX_67F068BC60BB6FE6;
ALTER TABLE offre DROP nom, CHANGE photo photo VARCHAR(255) DEFAULT NULL, CHANGE quantite quantite VARCHAR(100) DEFAULT NULL;
ALTER TABLE demande DROP FOREIGN KEY `FK_demandeur`;
ALTER TABLE demande DROP FOREIGN KEY `FK_offre`;
ALTER TABLE demande CHANGE statut statut VARCHAR(30) DEFAULT 'en_attente' NOT NULL, CHANGE quantite_demandee quantite_demandee INT NOT NULL;
ALTER TABLE event CHANGE organisateur organisateur VARCHAR(150) DEFAULT NULL;
ALTER TABLE lieu CHANGE image image VARCHAR(255) DEFAULT NULL;
ALTER TABLE partner CHANGE type type VARCHAR(100) DEFAULT NULL, CHANGE email email VARCHAR(255) DEFAULT NULL, CHANGE phone phone VARCHAR(30) DEFAULT NULL, CHANGE address address VARCHAR(255) DEFAULT NULL, CHANGE website website VARCHAR(255) DEFAULT NULL, CHANGE logo_url logo_url VARCHAR(255) DEFAULT NULL, CHANGE status status VARCHAR(50) DEFAULT NULL, CHANGE created_at created_at DATETIME DEFAULT NULL;
ALTER TABLE partner_offer CHANGE amount amount NUMERIC(12, 2) DEFAULT NULL, CHANGE offer_date offer_date DATE DEFAULT NULL, CHANGE status status VARCHAR(50) DEFAULT NULL, CHANGE created_at created_at DATETIME DEFAULT NULL;
ALTER TABLE partner_offer RENAME INDEX idx_partner_offer_partner_id TO IDX_3AEA2B5B9393F8FE;
ALTER TABLE publication CHANGE image_filename image_filename VARCHAR(255) DEFAULT NULL;
ALTER TABLE publication RENAME INDEX idx_af4c87f36bb81c92 TO IDX_AF3C677960BB6FE6;
ALTER TABLE user ADD facial_recognition_enabled TINYINT DEFAULT 0 NOT NULL, CHANGE specialite specialite VARCHAR(100) DEFAULT NULL, CHANGE localisation localisation VARCHAR(150) DEFAULT NULL, CHANGE nom nom VARCHAR(100) DEFAULT NULL, CHANGE prenom prenom VARCHAR(100) DEFAULT NULL, CHANGE telephone telephone VARCHAR(20) DEFAULT NULL, CHANGE adresse adresse VARCHAR(255) DEFAULT NULL, CHANGE image_url image_url VARCHAR(255) DEFAULT NULL, CHANGE date_inscription date_inscription DATETIME DEFAULT NULL, CHANGE statut statut VARCHAR(50) DEFAULT NULL, CHANGE role_type role_type VARCHAR(50) DEFAULT NULL, CHANGE face_signature face_signature LONGTEXT DEFAULT NULL;
ALTER TABLE produit CHANGE image_url image_url VARCHAR(255) DEFAULT NULL, CHANGE badge badge VARCHAR(50) DEFAULT NULL, CHANGE created_at created_at DATETIME DEFAULT CURRENT_TIMESTAMP NOT NULL, CHANGE updated_at updated_at DATETIME DEFAULT NULL;
ALTER TABLE messenger_messages CHANGE delivered_at delivered_at DATETIME DEFAULT NULL;
