CREATE TABLE participation (id INT AUTO_INCREMENT NOT NULL, created_at DATETIME NOT NULL, event_id INT NOT NULL, user_id INT NOT NULL, INDEX IDX_AB55E24F71F7E88B (event_id), INDEX IDX_AB55E24FA76ED395 (user_id), UNIQUE INDEX uniq_event_user (event_id, user_id), PRIMARY KEY (id)) DEFAULT CHARACTER SET utf8mb4;
ALTER TABLE participation ADD CONSTRAINT FK_AB55E24F71F7E88B FOREIGN KEY (event_id) REFERENCES event (id) ON DELETE CASCADE;
ALTER TABLE participation ADD CONSTRAINT FK_AB55E24FA76ED395 FOREIGN KEY (user_id) REFERENCES user (id) ON DELETE CASCADE;
ALTER TABLE commande CHANGE total total NUMERIC(12, 2) DEFAULT 0 NOT NULL;
ALTER TABLE offre DROP nom;
ALTER TABLE demande CHANGE quantite_demandee quantite_demandee INT NOT NULL;
DROP INDEX UNIQ_AF3C6779989D9B62 ON publication;
ALTER TABLE publication DROP updated_at, DROP slug;
ALTER TABLE user DROP face_data, CHANGE facial_recognition_enabled facial_recognition_enabled TINYINT DEFAULT 0 NOT NULL;
DROP INDEX idx_email_verification_email ON email_verification;
DROP INDEX idx_email_verification_valid ON email_verification;
ALTER TABLE email_verification CHANGE is_verified is_verified TINYINT NOT NULL, CHANGE verified_at verified_at DATETIME DEFAULT NULL, CHANGE commande_id commande_id INT DEFAULT NULL;
ALTER TABLE email_verification ADD CONSTRAINT FK_FE2235882EA2E54 FOREIGN KEY (commande_id) REFERENCES commande (id) ON DELETE CASCADE;
CREATE INDEX IDX_FE2235882EA2E54 ON email_verification (commande_id);
