{% extends 'admin_base.html.twig' %}

{% block title %}Test Contract{% endblock %}

{% block body %}
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <h1>Contract Test Page</h1>
            <p>This is a test to verify template rendering works.</p>
        </div>
    </div>
</div>
{% endblock %}
