{% extends 'admin_base.html.twig' %}

{% block title %}{{ module }} - Administration{% endblock %}

{% block body %}
{# Page vide comme demandé #}
<div class="bg-white shadow-sm p-4" style="border-radius: 20px; min-height: 400px;">
    <!-- Contenu à ajouter plus tard -->
</div>
{% endblock %}
